/*---- Varaibles----------------*/
/*Colors*/
/*--------- Mixin -----------*/
:root {
  --body-font-size: 1.1rem; }
  @media screen and (min-width: 500px) {
    :root {
      --body-font-size: 1rem; } }

/*-------- Base Styles --------*/
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box; }

html {
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--body-font-size); }

a {
  text-decoration: none; }

img {
  text-decoration: none; }

/*------ Config Styles -------------*/
.desktop {
  display: none; }

.main-logo {
  padding: 1.2em;
  height: 80px;
  color: #fff; }

.mobile {
  width: 100%; }

.data {
  text-align: center;
  padding: 1.5em;
  width: 100%; }
  @media screen and (min-width: 500px) {
    .data {
      width: 100%;
      height: 70vh;
      margin: 0 auto; } }

.main-title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.6rem;
  margin-top: 0.1rem;
  font-size: calc(var(--body-font-size) * 2.6); }
  .main-title > span {
    color: #ce9797;
    font-weight: 100; }

.description {
  color: #ce9797;
  margin-top: 1rem;
  font-size: var(--body-font-size);
  font-weight: 400; }

.form {
  position: relative;
  margin-top: 3rem; }

.send-email {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #f8bfbf;
  padding: 1em;
  background: transparent; }

.btnSend {
  position: absolute;
  right: 0;
  top: -0.1em;
  border: none;
  padding: 1em;
  width: 25%;
  border-radius: 25px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  box-shadow: 0 0.2em 1em #ee8c8c; }

@media screen and (min-width: 500px) {
  .mobile {
    display: none;
    object-fit: cover; }
  .desktop {
    display: block;
    object-fit: cover;
    height: 100%; }
  .images {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: flex-end; } }

@media screen and (min-width: 768px) {
  body {
    background: url(../images/bg-pattern-desktop.svg); }
  main {
    display: flex;
    justify-content: space-between; }
  .images {
    order: 2;
    flex: 1; }
  .data {
    flex: 1;
    order: 1;
    text-align: left;
    max-width: 40%;
    margin-left: 10%;
    align-self: center;
    margin-top: calc(1.6rem * 10); }
  .main-logo {
    position: absolute;
    top: 20px;
    left: 10%;
    margin: 0; } }
